.greensfc{
    background-color: rgb(61,188,155);
    color: white;
    height: 500px;
   
.center{
    text-align: center;
}
.boot{
    margin: 0 auto;
}
.uix{
    list-style-type: none;
    display: flex;
    flex-direction: row;
   
}
.profile{
    padding-top: 77px;
    margin-bottom: 15px;
    height: 222px;
}
h3{
    font-family: "Bold";
    font-size: 40px;    
}
hr{
    background-color: white;
}
.star{
    margin-left: 50%;
}
.size{
    font-size: 14px;
}
}

